@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

body {
  /* background: #54b0a3; */
}

.btn {
  padding: 3px !important;
  font-weight: 600;
}

.bth:hover {
  opacity: 0.9;
  color: #fff !important;
}

* {
  font-family: 'Bellefair', serif;
      letter-spacing: 1px;
  font-weight: 600 !important;
  /* font-size: large; */
}

.signup-con {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.card {
  background: #e9ebec;
}

.share {
  width: 130px !important;
  border-radius: 15px !important;
  margin: 0 auto;
}
